#groups{
    height: fit-content;
}
#group-area{
 padding-top: 30px;
}
.unit{ 
    margin:5px;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    height:200px;
    border-radius: 10px;
    font-weight: bolder;

}

